<div class="space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-bold tracking-tight">Data Management</h1>
  </div>

  <div class="bg-black border border-slate-700/60 rounded-lg p-4 flex flex-col gap-y-4">

    @if (role === 'ADMIN') {
      <p-selectbutton
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
      />

      @if (value() === 1) {
        <data-import />
      } @else {
        <data-export />
      }
    } @else {
      <data-export />
    }

  </div>
</div>
