<p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      @for (column of displayedColumns; track `table-header-${column}`) {
        <th>{{ column }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>{{ user.names }}</td>
      <td>{{ user.lastNames }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rut }}</td>
      <td>{{ user.jobNumber }}</td>
      <td>
        <actions-select [user]="user" />
      </td>
    </tr>
  </ng-template>
</p-table>

