<form class="flex flex-col gap-y-5">
  <section class="space-y-4">

    <div class="flex flex-col space-y-2">
      <label htmlFor="email" class="text-white">Email</label>
      <input
        id="email"
        type="email"
        placeholder="user@example.com"
        required
        class="bg-slate-900/50 p-2 text-slate-400"
      />
    </div>

    <div class="space-y-2">
      <div class="flex items-center justify-between">
        <label htmlFor="password" class="text-white">Password</label>
        <a href="#" class="text-xs text-purple-500 hover:text-purple-400 underline underline-offset-4">
          Forgot password?
        </a>
      </div>
      <input
        id="password"
        type="password"
        required
        class="bg-slate-900/50 p-2 w-full text-slate-400"
      />
    </div>

  </section>
  <section class="flex flex-col">
    <button type="submit" class="w-full rounded-md bg-purple-600 p-2 cursor-pointer hover:bg-purple-700 text-white" disabled={isLoading}>
      Sign in
    </button>
    <p class="mt-4 text-center text-sm text-slate-400">
      Don't have an account? Create one
      <a
        [routerLink]="['/register']"
        class="underline text-purple-500"
      >
        here
      </a>
    </p>
  </section>
</form>
