<form [formGroup]="form" (ngSubmit)="handleLogin()" class="flex flex-col gap-y-5">
  <section class="space-y-4">

    <div class="flex flex-col space-y-2">
      <label htmlFor="email" class="text-white">Email</label>
      <span class="flex flex-col space-y-1">
        <input
          id="email"
          type="email"
          placeholder="user@example.com"
          required
          class="bg-slate-900/50 p-2 text-slate-400"
          formControlName="email"
          [class.border]="form.get('email')?.invalid && form.get('email')?.touched"
          [class.border-red-500]="form.get('email')?.invalid && form.get('email')?.touched"
        />
  
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <span class="text-red-500 text-[12px]">Field 'email' is required!</span>
        }
      </span>
    </div>

    <div class="space-y-2">
      <div class="flex items-center justify-between">
        <label htmlFor="password" class="text-white">Password</label>
        <a href="#" class="text-xs text-purple-500 hover:text-purple-400 underline underline-offset-4">
          Forgot password?
        </a>
      </div>
      <input
        id="password"
        type="password"
        required
        class="bg-slate-900/50 p-2 w-full text-slate-400"
        formControlName="password"
        [class.border]="form.get('password')?.invalid && form.get('password')?.touched"
        [class.border-red-500]="form.get('password')?.invalid && form.get('password')?.touched"
      />

      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <span class="text-red-500 text-[12px]">Remember to input your password!</span>
      }
  </div>

    <button type="submit" class="w-full rounded-md bg-purple-600 p-2 cursor-pointer hover:bg-purple-700 text-white">
      Sign in
    </button>
  </section>

  <section class="space-y-4">
    <button type="button" class="w-full rounded-md bg-teal-600 p-2 cursor-pointer hover:bg-teal-700 text-white">
      Continue as guest
    </button>
  </section>
</form>
