<div class="flex items-center relative">
  <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body">
    <ng-template #start>
      <span class="inline-flex items-center gap-1 px-4 py-2 text-xl font-medium">Actions</span>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <button class="flex items-center gap-2 px-4 py-2 w-full text-left hover:bg-gray-700">

        <mat-icon
          [style]="item?.style"
        >
          {{ item.icon }}
        </mat-icon>
        <span [class]="item?.styleClass">{{ item.label }}</span>

      </button>
    </ng-template>
  </p-menu>

  @if (role === 'ADMIN') {
    <p-button
      (click)="menu.toggle($event)"
      styleClass="p-button-text p-button-rounded p-button-plain text-white"
    >
      <mat-icon>
        more_horiz
      </mat-icon>
    </p-button>
  }

  @if (role === 'ADMIN') {
    <p-dialog header="Edit user" [draggable]="false" [(visible)]="editDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
      <edit-modal [userRut]="this.userRut" (closeModal)="onCloseEditModal()" />
    </p-dialog>

    <p-dialog header="Reset password" [draggable]="false" [(visible)]="resetDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
      <reset-modal [userRut]="this.userRut" (closeModal)="onCloseResetModal()" />
    </p-dialog>

    <p-dialog header="Delete user" [draggable]="false" [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
      <delete-modal [userRut]="this.userRut" (closeModal)="onCloseDeleteModal()" />
    </p-dialog>
  }
  </div>
