.table-container {
  padding: 0.5rem;
  font-family: system-ui, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.table {
    border: 1px solid lightgray;
    display: block;
    width: fit-content;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 17px;
    box-shadow: 2px #ccc;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  background-color: #e2e2e2;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  width: fit-content;
  min-width: 120px;
}

.normal-row {
  border-bottom: 1px solid #ccc;
}

.normal-data {
  text-align: left;
  padding: 8px 10px;
  border-right: 1px solid #ccc;
}

.admin-data {
  text-align: left;
  padding: 8px 10px;
  border-right: 1px solid #ccc;
  background-color: rgb(219, 235, 235);
  min-width: 120px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-button {
  border-width: 1px;
  border-radius: 0.25rem;
	padding: 0.25rem;
  cursor: pointer;
}

.divisor {
  height: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-input {
  border-width: 1px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 4rem;
}

.table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.can-filter {
  cursor: pointer;
}