.login-img {
    background-image: url(../../assets/iquique-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    filter: blur(1px);
    max-width: 100%;
}

.form {
    display: flex;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    padding: 40px;
    width: fit-content;
    z-index: 2;
    position: absolute;
    margin-top: 0;
}

.login-title {
    display: block;
    text-align: center;
}

.input-label {
    margin: 10px 0;
}

.content {
    border-top: 2px solid black;
    text-align: left;
}

.input {
    height: 5vh;
    width: 30vw;
}

.input-label, .submit {
    display: block;
}

.submit {
    height: 5vh;
    width: 30vw;
    margin-top: 20px;
}

form {
    padding-top: 10px;
}

.options {
    display: block;
    margin: 10px 0;
    text-decoration: underline;
    color: blue;
}